#sidebar {
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgb(8, 12, 19);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.6);
    user-select: none;
}

.sidebar-body {
    flex-grow: 1;
}

.sidebar-profile {
    position: relative;    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-block: 15px;
    margin-inline: 14px;
    padding: 4px;
    background-image: linear-gradient(to right, rgba(0,255,255, 0.7), rgba(0,255,255, 0.4)) ;
    border-radius: 50px;
    border: 2px solid rgba(0,255,255, 0.75);
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 25px;
}

.sidebar-profile:hover {
    background-color:rgba(0,255,255, 0.85);
    box-shadow: 0px 0px 8px rgba(0,255,255, 0.85);
    transform: scale(1.05);
    cursor: pointer;
}

.sidebar-profile #profile-name {
    font-weight: 900;
    flex-grow: 1;
    font-size: 16px;
    text-align: center;    
    color: rgba(0,0,0, 0.9);
}

.sidebar-profile img {
    max-width: 60px;
    border-radius: 100%;
    border: 4px inset rgba(255,255,255,0.25);
}

.sidebar-links {
    padding-inline: 15px;
}

.sidebar-links small {
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.divider {
    opacity: 0.25;
    border-radius: 100%;
    margin-bottom: 25px;
}

.sidebar-links .links {
    display: flex;
    flex-direction: column;
}

.sidebar-links a{
    text-decoration: none;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 25px;
    padding-inline: 20px;
    padding-block: 15px;
    margin-block: 3px;
    font-weight: 900;
    border: 1px solid rgba(255,255,255, 0.85);
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar-links a:hover {
    transform: scale(1.08);
    background-color: rgba(0,255,255, 1);
    box-shadow: 0px 0px 8px rgba(0,255,255, 0.85);
    border-color: aqua;
}

.sidebar-links a:nth-last-of-type(1):hover {
    background-image: linear-gradient(to right, red, rgb(100,0,0));
    box-shadow: 0px 0px 8px red;
    border-color: red;
}

.sidebar-links .links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0,0,0,0.6);
}

.sidebar-links .link-title {
    margin-left: 10px;
}

.sidebar-links .icon {
    color: rgba(0,0,0, 0.9);
    margin-top:-1px;
    margin-left: 3px;
}

.sidebar-toggle {
    top: 0px;
    right: 0px;
}

#btn-toggle {
    background-color: rgba(255,255,255,0.15);
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#btn-toggle:hover {
    background-color: rgba(0,255,255, 1);
    box-shadow: 0px 0px 6px aqua;
}

.app-bar-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.app-bar-content h2 {
    color: rgba(255,255,255,0.75);
}

.app-bar-content h2:hover {
    color: rgba(255,255,255,1);
}

.transition-default {
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .app-bar-content h2 {
        font-size: 18px;
    }
}